.section {
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and(min-width:1200px){
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.features {
    padding: 0;
    margin: 0;
    list-style: none;

    @media screen and (min-width: 768px){
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    }
    

    
}

.features__icons {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F4FA;
    height: 120px;
    margin-bottom: 30px;
    
}

@media screen and (max-width: 767px){
.features__item:not(:last-child) {
margin-bottom: 30px;
}
}
       
.features__item {
   
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px){
    flex-basis: calc((100% - 90px) / 4);
    }
    
}

.features__tittle {
   
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--main-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

    @media screen and(max-width:767px) {
        text-align: center;
    }
}

.features__text {
    color: var(--secondary-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
