:root {
    --main-color: #212121;
    --secondary-color: #757575;
    --akcent-color: #2196F3;
    --akcent-color-transparency: rgba(33, 150, 243, 0.9);
    --white-color: #FFFFFF;
    --logo-secondary-color: #000000;
    --hero-footer-background: #2F303A;
    --background-team: #F5F4FA;
    --button-hover: #188CE8;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --icon-color: #AFB1B8;
    --boder-color: #21212133;

}